In [1]:
%load_ext sql
%config SqlMagic.displaycon = False
%config SqlMagic.feedback = 0

The 'toml' package isn't installed. To load settings from pyproject.toml or ~/.jupysql/config, install with: pip install toml

In [2]:
%sql duckdb:///../data/hafen-hamburg-de/db1.duckdb --alias conn

In [3]:
%%sql

create table if not exists containerhandling as
select
    labels as year,
    TEU as total,
    "Container Import" as import,
    "Container Export" as export,
    "Container Import, full" as full,
    "Container, Export, empty" as empty,
from (
    select * from "../data/hafen-hamburg-de/containerhandling_0.csv"
) as sq_1
    join (
        select * from "../data/hafen-hamburg-de/containerhandling_1.csv"
    ) as sq_2 using (labels)
    join (
        select * from "../data/hafen-hamburg-de/containerhandling_2.csv"
    ) as sq_3 using (labels)

+-------+
| Count |
+-------+
+-------+

In [4]:
%sql select * from containerhandling limit 5

+------+-------+--------+--------+------+-------+
| year | total | import | export | full | empty |
+------+-------+--------+--------+------+-------+
| 1991 |  2.2  |  1.1   |  1.1   | 1.8  |  0.4  |
| 1992 |  2.3  |  1.2   |  1.1   | 1.9  |  0.4  |
| 1993 |  2.5  |  1.3   |  1.2   | 2.1  |  0.4  |
| 1994 |  2.7  |  1.4   |  1.3   | 2.3  |  0.4  |
| 1995 |  2.9  |  1.5   |  1.4   | 2.5  |  0.4  |
+------+-------+--------+--------+------+-------+

In [5]:
%%sql

create table if not exists seabornecargohandling as
select
    labels as year,
    "Total Import" as total_import,
    sq_1."Bulk Import" as total_export,
    "Seaborne Cargo Import" as seaborne_import,
    "Seaborne Cargo Export" as seaborne_export,
    sq_3."Bulk Import" as bulk_import,
    "Bulk Export" as bulk_export
from (
    select * from "../data/hafen-hamburg-de/seabornecargohandling_0.csv"
) as sq_1
    join (
        select * from "../data/hafen-hamburg-de/seabornecargohandling_1.csv"
    ) as sq_2 using (labels)
    join (
        select * from "../data/hafen-hamburg-de/seabornecargohandling_2.csv"
    ) as sq_3 using (labels)

+-------+
| Count |
+-------+
+-------+

In [6]:
%sql select * from seabornecargohandling limit 5

+------+--------------+--------------+-----------------+-----------------+-------------+-------------+
| year | total_import | total_export | seaborne_import | seaborne_export | bulk_import | bulk_export |
+------+--------------+--------------+-----------------+-----------------+-------------+-------------+
| 1989 |     36.9     |     21.0     |       11.8      |       14.0      |     25.1    |     7.0     |
| 1990 |     39.4     |     21.9     |       13.5      |       15.0      |     25.9    |     6.9     |
| 1991 |     42.8     |     22.7     |       14.8      |       15.2      |     28.0    |     7.5     |
| 1992 |     42.0     |     23.1     |       15.0      |       15.2      |     27.0    |     7.9     |
| 1993 |     42.1     |     23.7     |       15.7      |       16.6      |     26.5    |     7.1     |
+------+--------------+--------------+-----------------+-----------------+-------------+-------------+

In [7]:
%sql --close conn